* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    height: 350px;
    font-family: 'Antic Slab', serif;
    letter-spacing: 1px;
}

.container>.flex-item:first-child {
    position: absolute;
    top: 50%;
    left: 35%;
    right: 35%;
    font-size: 24px;
}

.container>.flex-item:last-child {
    position: absolute;
    top: 65%;
    left: 35%;
    right: 35%;
    font-size: 18px;
    margin-top: 10px;
}

p {
    display: -ms-flexbox;
    display: flex;
}